.downloadIcon{
    cursor: pointer;
}


.calendar {
    width: 100%;
    border: 0px;
    padding: 10px;
}

.textCentering {
    text-align: center;
}

.sideBarWrapper {
    box-shadow: 1px 0px 2px gray;
    padding: 0px;
    overflow-y: auto; 
    overflow-x: hidden;
    /* min-width: 345px; */
    height: 100%;
}

.calendarView {
    height: 100%;
    padding: 0px;
}

@media (max-width: 768px) {
    .sideBarWrapper {
        height: auto;
        box-shadow: none;
    }
    .calendarView {
        height: auto;
    }
}

.rowHeightCorrection {
    height: 100%;
}

.large {
    width: 70%;
}

.marginBottom {
    margin-bottom: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
}