.popupBackground{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.6;
    background: white;
    transition: 0.2s;
}

.popupHide{
    opacity: 0;
    pointer-events: none;
}

.closeButton{
    position: absolute;
    top: 5px;
    right: 5px;
}

.popupContent{
    margin: 10px;
}