.appointment {
    position: absolute;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 1px;
}

.appointmentContent {
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    padding: 4px;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
}

.day {
    display: block;
    float: left;
    width: calc(100% / 7);
    height: 100%;
    overflow: hidden;
    position: relative;
}

.dayProgression {
    height: 110%;
    width: 100%;
    background: rgba(0, 0, 0, 0.082);
    border-bottom: 2px solid orangered;
}

.dayProgression,
.lineWrapper {
    position: absolute;
}

.lineWrapper {
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .day {
        height: 100px;
        width: 100%;
    }
}