.day {
    display: block;
    float: left;
    width: calc(100% / 7);
    height: 100%;
    overflow: hidden;
    position: relative;
}

.appointment {
    background: lightblue;
    border-radius: 5px;
}

.dayProgression {
    height: 110%;
    width: 100%;
    background: rgba(0, 0, 0, 0.082);
    border-bottom: 2px solid orangered;
}

.dayProgression, .lineWrapper {
    position: absolute;
}
.lineWrapper{
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .day {
        height: 100px;
        width: 100%;
    }
}