.large {
    width: 100%;
}

.limitWidth {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.seperator {
    border-right: 1px solid rgb(222, 222, 222);
}

.verticalAlign {
    line-height: 50px;
}

.lessPadding {
    padding: 10px;
}

.calendarBlock {}