.maxSize {
    height: 100%;
}

.maxSize,
.tableWrapperBig,
.tableWrapperSmall {
    float: left;
    width: 100%;
    transition: 0.2s;
}

.weekDays {
    float: left;
    width: calc(100% - 7px);
    padding-left: 5%;
    height: 3%;
}

.tableInnerWrapper {
    height: 1300px;
    float: left;
    width: 100%;
}

.tableWrapperBig {
    height: 97%;
    overflow-y: scroll;
}

.tableWrapperSmall {
    height: 25%;
    overflow-y: scroll;
    box-shadow: 2px 1px 3px grey;
}

.responsiveWidth {
    float: left;
    height: 100%;
    width: 95%;
}

.time {
    width: 5%;
    height: 100%;
    float: left;
}

.infoPanel {
    float: left;
    height: 72%;
    width: 100%;
}

.weekDay div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.weekDay {
    position: relative;
    z-index: 4;
    height: 100%;
    background: #337ab7;
    color: white;
    width: calc(100% / 7);
    display: table;
    float: left;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .responsiveWidth {
        width: 100%;
    }
}